{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}


{% block body %}

    <form method="post">
        
        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
            </div>
        {% endif %}

        <h2 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h2>
        <form action="{{ path('app_connexion') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ email }}" required>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Se connecter</button>
    </form>
        
            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Se souvenir de moi</label>
            </div>
        

        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
    </form>

    <h2>Créer votre Profil</h2>

    {{ form_start(form) }}
        {{ form(form) }}
    {{ form_end(form) }}

{% endblock %}
