{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <form class="connexion-form" method="post">
        
        <h2 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h2>
        <form action="{{ path('app_connexion') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" name="_username" value="{{ last_username }}" required style="border: 2px solid #198754; border-radius: 5px;"><br>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <label for="password">Mot de passe:</label>
        <input type="password" name="_password" required style="border: 2px solid #198754; border-radius: 5px;"><br>

        <button type="submit" style="background-color: burlywood; color: #198754; border-color: #198754; border-radius: 10px;">Se connecter</button>
        </form>
        
            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Se souvenir de moi</label>
            </div>
    </form>

    <h2 class="not-yet-title">Pas encore de compte ?</h2>

    <a href="{{ path('app_create_user') }}" class="create-account-link">Créer un compte</a>
{% endblock %}
